*{margin: 0;padding: 0;}

.table{
    max-height: 70vh;
    overflow: auto;
    width: 80vw;
    background-color: lightcoral;
    margin:20px  auto;
    display: grid;
    grid-template-rows: 15% 85%;
    row-gap: 0%;

}

.table .heading{
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    z-index: 1;
    position: sticky;
    background-color: silver;
    height: 70px;
}

.table h1{
    text-transform: uppercase;
    word-spacing: 10px;
    letter-spacing: 3px;
    
    
}

.table table{
    /* height: 70%; */
    background-color: violet;
    border-collapse: collapse;
    text-align: center;
}

.table table td,.table table th{
    border: 1px solid black;
}

.table table thead {
    height: 50px;
    background-color: turquoise;
    position: sticky;
    top: 69px;
    z-index: 1;
    text-transform: capitalize;
    font-size: larger;
    letter-spacing: 1px;
    
}

.table table tbody tr{
    height: 50px;
    background-color: lemonchiffon;
}

.table #edit,.table #delete{
    padding: 5px;
    font-size: large;
    font-weight: bolder;
    font-family: monospace;
    border-radius: 10px;
    width: 40%;
    cursor: pointer;
}

.table #edit:hover{
    background-color: lightgreen;
}

.table #delete:hover{
    background-color:red;
}

.table table tbody tr:hover{
    background-color: lightgray;
}

.table img{
    border: 2px solid black;
    border-radius: 5px;
}